* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
#main {
	/*height: 90vh;*/
}
.content {
	padding: 1rem 2rem;
}
.cont-fluid {
	padding: 0px;
	width: 100%;
}
#confirm-div {
	display: none;
	width: 90vw;
	height: 20vh;
	background-color: #88f;
}
.capsule {
	width: 300px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
    border: 4px #333 solid;
    margin-bottom: 2px;
    padding-left: -2px;
}
/* l1, l2, l3, l4, l5, l6, l7 */
.levels {
	height: 20px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}
.l1 {
	background: linear-gradient(45deg, black, red);
	width: 10%;
}
.l2 {
	background: linear-gradient(45deg, black, red, orange);
	width: 20%;
}
.l3{
	background: linear-gradient(45deg, black, red, orange, yellow);
	width: 35%;
}
.l4{
	background: linear-gradient(45deg, red, orange, yellow, green);
	width: 50%;
}
.l5{
	background: linear-gradient(45deg, red, orange, yellow, green, blue);
	width: 65%;
}
.l6{
	background: linear-gradient(45deg, green, blue);
	width: 80%;
}
.l7{
	background: linear-gradient(45deg, red, orange);
	width: 100%;
}
.gradient {
	height: 20px;
	width: 300px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	border: 3px solid #333;
	background-color: red;
	background-image: linear-gradient(to right, red, yellow 25%, white 50%);
}

.lb1{
	background-color: red;
	background-image: linear-gradient(to right, red, white 10%);
}
.lb2{
	background-color: red;
	background-image: linear-gradient(to right, red, orange, white 20%);
}
.lb3{
	background-color: red;
	background-image: linear-gradient(to right, red, orange 30%, white 35%);
}
.lb4{
	background-color: red;
	background-image: linear-gradient(to right, orange, white 50%);
}
.lb5{
	background-color: red;
	background-image: linear-gradient(to right, orange 30% , yellow 55%, white 65%);
}
.lb6{
	background-color: red;
	background-image: linear-gradient(to right, yellow, green, white 80%);
}
.lb7{
	background-color: red;
	background-image: linear-gradient(to right, green, white 100%);
}

.resp-box {
	width: 33%;
	height: 250px;
	background-color: #FFF;
	border: 1px blue solid;
	display: inline-block;
	margin: 0px 0px;
}

@media screen and (max-width: 770px){
	.resp-box {
		width: 49%;
	}
}


