.footer {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 1rem; }

.babble {
  width: 400px;
  border: 1px solid blue;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .babble .babble-user-row .user-pic {
    width: 80px; }
