
$blue: #3FA7D6;
$blue2: #3FA7D6;
$purple: #AA89ED;
$green: #59CD90;
$yellow: #FAC05E;
$red: #EE6352;
$orange: #FF6B35;

$radius: 10px;

* {
	box-sizing: border-box;
}

.container {
	width: 50px;
	height: 20px;
	border: 1px solid black;
	-webkit-border-top-left-radius: $radius; 
	border-top-left-radius: $radius; 
	-webkit-border-top-right-radius: $radius; 
	border-top-right-radius: $radius; 
	-webkit-border-bottom-left-radius: $radius; 
	border-bottom-left-radius: $radius; 
	-webkit-border-bottom-right-radius: $radius; 
	border-bottom-right-radius: $radius; 
	position: relative;
}
.ball {
	width: 20px;
	height: 20px;
	border-radius: $radius;
	background-color: blue; 
	margin-left: -2px;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 0px;
}

.pulse {
	margin-top: 12rem; 
	height: 60px;
	width: 60px;
	background: red;
	-webkit-border-radius: 50%; 
	border-radius: 50%; 
	margin: 0 auto;
	position: fixed;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
	&:after {
		content: '';
		display: block;
		height: 60px;
		width: 60px;
		-webkit-border-radius: 50%; 
		border-radius: 50%; 
		// position: absolute;
		// top: 0;
		// left: 0;
		background: red;
		// z-index: 999;
		animation: growth 2s linear infinite;
	}
}

@keyframes growth {
	0% {
		transform: scale(0.8);
	}
	33% {
		transform: scale(1.2);
		opacity: 0.5;
	}
	100% {
		transform: scale(3.5);
		opacity: 0;
	}
}

.style {
	$rad: 4%;
	width: 48%;
	min-height: 50vw;
	margin: 1%;
	-webkit-border-radius: $rad; 
	border-radius: $rad; 
	display: inline-block;
	text-align: center;
	position: relative;
	.header {
		font-size: 1.2rem;
		text-align: center;
		padding: 0.25rem;
		font-weight: bold;  
		color: #333;
		font-family: cursive;
	}
	img {
		max-width: 80%;
		display: inline-block;
		margin: 0 auto;
	}
	.points {
		font-weight: bold;
		color: #FFF;
		font-family: sans-serif;
		font-family: 'Architects Daughter', cursive;
		// font-family: 'Pacifico', cursive;
		// font-family: 'Walter Turncoat', cursive;
		// font-family: 'Itim', cursive;
	}
}
.bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3rem;
	color: #fff;
	-webkit-border-radius-bottom-left: 10px;
	border-radius-bottom-left: 10px;
}
.cat1 {
	border: 3px solid $blue; 
	.bottom {
		background-color: $blue;
	}
	
}

.cat2 {
	border: 3px solid $purple;
	.bottom {
		background-color: $purple;
	}

}
.cat3 {
	border: 3px solid $green;
	.bottom {
		background-color: $green;
	}

}
.cat4 {
	border: 3px solid $red;
	.bottom {
		background-color: $red;
	}

}
.cat5 {
	border: 3px solid $orange;
	.bottom {
		background-color: $orange;
	}

}

.inner {
	display: block;
	opacity: 0
}

@media screen and (min-width: 769px) {
	.style {
		width: 31%;
		// max-height: 350px;
		min-height: initial;
	}
}

